.badger-accordion__panel {
  max-height: 75vh;
  overflow: hidden; }
  .badger-accordion__panel.-ba-is-hidden {
    max-height: 0 !important; }
  .badger-accordion--initialized .badger-accordion__panel {
    transition: max-height ease-in-out 0.2s; }

.js-badger-accordion-header {
  display: flex;
  position: relative;
  align-items: center;
}
.js-badger-accordion-header:after {
  flex:none;
  margin-left:auto;
  content: '▼';
  right: 0;
}
.js-badger-accordion-header.-ba-is-active {
  color: var(--colorToneLow);
  border-bottom: 2px solid;
}
.js-badger-accordion-header.-ba-is-active:after {
  content: '▲';
}
.js-badger-accordion-panel-inner > * {
  margin-bottom: 1rem;
}

dd.-ba-is-active{
  margin-bottom: 1rem;
}
