@import url("//hello.myfonts.net/count/38454e");
@font-face {font-family: 'Tide Sans'; font-style: normal; font-weight: 400; src: url('../webfonts/38454E_0_0.eot');src: url('../webfonts/38454E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/38454E_0_0.woff2') format('woff2'),url('../webfonts/38454E_0_0.woff') format('woff'),url('../webfonts/38454E_0_0.ttf') format('truetype');}
@font-face {font-family: 'Tide Sans'; font-style: italic; font-weight: 400; src: url('../webfonts/38454E_1_0.eot');src: url('../webfonts/38454E_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/38454E_1_0.woff2') format('woff2'),url('../webfonts/38454E_1_0.woff') format('woff'),url('../webfonts/38454E_1_0.ttf') format('truetype');}
@font-face {font-family: 'Tide Sans'; font-style: normal; font-weight: 700; src: url('../webfonts/38454E_2_0.eot');src: url('../webfonts/38454E_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/38454E_2_0.woff2') format('woff2'),url('../webfonts/38454E_2_0.woff') format('woff'),url('../webfonts/38454E_2_0.ttf') format('truetype');}

:root {
  /* Sizing */
  --sizeBase: 16px;
  --pageBig: 70rem;
  /* Colors */
  --colorPink: #eb4274;
  --colorPinkLight: #fe316e;
  --colorPurple: #3b3f9e;
  --colorPurpleLight: #2e34d1;
  --colorToneLow: #0ccc9d;
  --colorToneHigh: #1afbc4;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorGold: rgb(254, 218, 33);
  --colorGoldSecondary: #dcb800;
  /* Text */
  --fontStack: 'Tide Sans', sans-serif;
  --colorHeadline: var(--colorPink);
  --colorSubheadline: var(--colorPurple);
  /* Nice Anims */
  --animNice: cubic-bezier(.17,.67,.31,1);
}
::-moz-selection {
  background-color: var(--colorToneHigh);
}
::selection {
  background-color: var(--colorToneHigh);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--fontStack);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body.hasHero {
  margin-top: 4rem;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--sizeBase);
  background-color: var(--colorWhite);
}

body {
  font-size: 1rem;
  line-height: 1;
}

h1,h2,h3,h4,h5,h6, .heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

h1 {
  position: relative;
  margin-bottom: 3rem;
}
h1:before {

}

p, ul, ol, blockquote {
  font-size: 1rem;
  margin:0;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.75rem;
  max-width: 70ch;
}

h1, .heading1 {
  font-size: 3.0rem;
  line-height: 3.0rem;
  max-width: 18ch;
}
h2, .heading2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h3, .heading3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
h4, .heading4 {
  font-size:1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.textBig {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.textSmall {
  font-size: .75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}


ul, ol {
  padding-left: 2rem;
  list-style: square;
}
ul li, ol li {
  padding-left: 1rem;
}

dl, dt, dd {
  margin: 0;
}
dl {
}
dt {
  margin-bottom: 1rem;
  line-height: 1.5;
}

dd {
  line-height: 1.5;
  max-width: 60ch;
}
a, a:link, a:visited {
  text-decoration: none;
  color: var(--colorPurple);
}

.headline {
  color: var(--colorHeadline);
}
.subheadline {
  color: var(--colorSubheadline)
}

/* Utilities */
.strike {
  text-decoration: line-through;
}
.nomargin {
  margin: 0;
}
.centered {
  text-align: center;
}
.flexStickyEnd {
  flex:none;
  margin-top: auto;
  margin-bottom: 0;
}
/* Grid */
.wrapper {
  flex-basis: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1.75rem;
}
.content {
  flex-basis: 100%;
  margin-bottom: 2rem;
}

/*hero */

.hero {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-image: url('../images/hotsummerBG-placeholder.jpg');
  background-size: cover;
  height: calc(100vh - 4rem);
  color: white;
  transition: background-image 1500ms var(--animNice);
}

.hero.lazy-bg-loaded {
  background-image: url('../images/hotsummerBG.jpg');
}
.heroFeature {
  transition: opacity 1500ms var(--animNice);
  opacity: 1;
  margin-left:-44px;
  margin-bottom: -4rem;
  width: 480px;
  height: 357px;
}
.heroFeature.lazy {
  opacity: 0;

}
/* Nav */

.ticket {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.ticket *:last-child{
  position: relative;
  bottom:0;
}
.ticketPrimary {
  color: var(--colorToneLow);
}
.ticketSecondary {
  color: #ccc;
}
.ticketTertiary {
  color: var(--colorGoldSecondary);
}

.ticketName {
  min-height: 4rem;
}


/* Buttons */
.buttonGroup {

}
.buttonGroup > * {
  display: block;
  margin-bottom: 1rem;
}

.buttonClr {
  font-family: var(--textStack);
  display: block;
  width: 100%;
  background: none;
  border: 0;
  text-align: left;
  padding:.5rem 0;
  margin:0;
  line-height: 1.5rem;
}
.buttonClr:focus {
  outline: none;
}

.button {
  transition: background-color 500ms ease-out;
  font-family: var(--textStack);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .875rem;
  padding-top:1rem;
  text-align: center;
  font-size: .875rem;
  line-height: .875rem;
  border-radius: calc(4rem - 8px);
  max-width: 288px;
  cursor: pointer;
  border: 0;
}
a.buttonPrimary {
  color: var(--colorBlack);
}
a.buttonSecondary {
  color: white;
}
.buttonPrimary {
  background-color: var(--colorToneHigh);
  color: var(--colorBlack);
}
.buttonPrimary:hover {
  background-color: var(--colorToneLow);
}
.buttonSecondary {
  color: white;
  background-color: var(--colorPurple);
}
.buttonSecondary:hover {
  background-color: var(--colorPurpleLight);
}
.button.buttonUpgrade {
  color: var(--colorBlack);
  background-color: var(--colorGold);
}
.button.buttonUpgrade:hover {
  color: var(--colorBlack);;
  background-color: var(--colorGoldSecondary);
}
.button.disabled {
  background-color: #ccc;
  color: #777;
}
.button.disabled:hover {
  cursor: not-allowed;
}

/* Counters */
.countWrapper {
  background-color: var(--colorPurple);
  color: white;
  padding: 4rem 0rem;
}
.countWrapper .content {
  text-align: center;
}
/* Video */
.hero .wrapper {
  z-index: 100;
}
.videoBackground {
  opacity: 1;
  transition: opacity 2500ms 1500ms var(--animNice);
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  background: #000 url(../images/hotsummerBG.jpg) no-repeat;
  background-size: cover;
  opacity: .5;
  top: 0;
}
.videoBackground.lazy {
  opacity: 0;
}

/* Forms */
.formWrapper {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 4rem rgba(0,0,0,.25);
}
.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.formRow .inputWrapper {
  flex: 1;
  margin-right: 2rem;
}
.formRow .inputWrapper:last-child{
  margin-right: 0;
}
.inputWrapper {
  transition: background-color 250ms var(--animNice);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--colorPurple);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2rem;
}
.inputWrapper.inputFocussed {
  background-color: var(--colorPurple);
}

.inputWrapper input {
  transition: all 250ms var(--animNice);
  width: 100%;
  padding-left: 1rem;
  margin:0;
  font-size: .875rem;
  line-height: 1rem;
  font-family: var(--fontStack);
  border: 0;
  height: 3rem;
  background-color: transparent;
}
.inputWrapper.inputFocussed input {
  transform: translateY(-.5rem);
  width: calc(100% - 1rem);
  background-color: white;
  border-radius: .5rem;
  box-shadow: none;
  outline: none;
}

.inputWrapper label {
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: var(--colorWhite);
  margin:0;
  padding-left: 1rem;
  background-color: var(--colorPurple);
  font-size: .75rem;
  line-height: 1rem;
  text-transform: uppercase;
  width: 100%;
}
.inputWrapper span {
  transition: all 250ms cubic-bezier(.17,.67,.31,1);
}
.inputFocussed span {
  transform: translateY(-.125rem);
}
.content > *:last-child {
  margin-right: 0;
}
.teamMember {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  padding: 1.25rem;
  box-shadow: 0 0 4rem rgba(0,0,0,.125);
  margin-bottom: 2rem;
}

.teamMember p {
  font-size: .75rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
.teamMember img {
  max-width: 4rem;
}
.teamMember *:last-child {
  margin-bottom: 0;
}
.teamMember .button {
  margin-top: auto;
}

.faqQuestion{
}
.faqQuestionText {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
}
.faqAnswerText {

}
.footer {
  padding: 2rem 0;
}
.footer .content > * {
  margin-bottom: 1rem;
}
/* Spacing */
.pageWrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.wsLarge {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ribbon {
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .teamMember img {
    min-width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }

  .row {
    padding: 0rem 4rem;
  }
  .wsMed {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .wsLarge {
    margin-top: 4rem;
    margin-bottom: 6rem !important;
  }
  .ribbon {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 6rem;
  }
  .ribbon .content *:last-child {
    margin-bottom: 0;
  }
  .navContent {
    padding: 0rem 2rem;
  }

  .content {
    flex: 1;
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .content:last-child {
    margin-right: 0;
  }

  .nav {
    top: 0;
    background-color: white;
    position: fixed;
    z-index: 200;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 0 32px rgba(0,0,0,.25);
  }

  .navContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
  }

  .navItem a {
    flex: none;
    font-size: .875rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 2rem;
    max-height: 2.5rem;
  }

  .navItem a:hover {
    background-color: var(--colorToneHigh);
  }

  .navItemButton a {
    color: var(--colorBlack);
    padding: 1.25rem;
    max-height: 1rem;
    background-color: var(--colorPink);
    color: white;
    border-radius: 1.5rem;
    margin-left: 1rem;
  }

  .navItemButton a:hover {
    background-color: var(--colorPinkLight);
  }

  .navItemButtonGold a {
    color: white;
    background-color: var(--colorPurple);
  }

  .navItemButtonGold a:hover {
    color: white;
    background-color: var(--colorPurpleLight);
  }

  .navItem:nth-child(7){
    margin-left:auto;
  }
  .ticket {
    margin-right: 2rem;
  }
  .ticket:last-child {
    margin-right: 0;
  }
  .buttonGroup {
    display: flex;
    flex-wrap: wrap;
  }
  .buttonGroup > * {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1000px) {


}
